---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import DownloadIcon from "../components/icons/Download.astro";
import SocialPill from "../components/SocialPill.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import BriefCase from "../components/icons/BriefCase.astro";
import CodeSandbox from "../components/icons/CodeSandbox.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Profile from "@/components/icons/Profile.astro";
import Download from "@/components/icons/Download.astro";
---

<Layout
  title="Porfolio de Eduardo Córdoba. Desarrollador y Programador Web - Frontend. "
  description="Desarrollador Web Frontend con varios años de experiencia en programación e informática. Viviendo la adquisición de experiencia, con voluntad de aprendizaje y de expansión personal.">
  <main class="px-4">
    <SectionContainer class="xs:w-full xs:mx-auto xs:py-12">
      <div class="flex xs:gap-x-5 justify-between">
        <img
          class="rounded-full xs:size-36 size-20 object-cover mb-4"
          src="photo.jpeg"
          alt="Eduardo Cordoba photo"
        />
        <div class="flex justify-center items-center">
          <Badge>Hablemos de proyectos</Badge>
        </div>
      </div>
      <div
        class="flex xs:flex-col xs:max-w-xl md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl">
        <h1
          class="text-white text-balance text-5xl font-bold flex flex-row gap-x-4 xs:py-4">
          Eduardo Córdoba
        </h1>
        <p class="xs:text-2xl xs:py-5 text-pretty">
          Con experiencia previa en Administración de Sistemas, ahora me
          desempeño como <span class="text-complementary-color"
            >Desarrollador Frontend.</span
          >
        </p>
        <p class="xs:text-2xl xs:py-5 text-pretty">
          He adquirido experiencia como programador en el sector del marketing
          digital desarrollando y manteniendo e-commerce como Prestashop,
          BigCommerce y proyectos headless con
          <span class="text-complementary-color">Angular</span>, y ahora en
          proceso de mejora y aprendizaje en frameworks orientados a producto
          tales como <span class="text-complementary-color">Vue.js</span>, y
          expandiendo a través del estudio de <span
            class="text-complementary-color">MEVN</span
          > y <span class="text-complementary-color">React js.</span>
        </p>
        <nav
          class="flex xs:gap-x-1 md:gap-x-4 xs:my-10 xs:flex-col xs:justify-center xs:gap-y-3">
          <SocialPill href="https://www.linkedin.com/in/e-j-cordoba/">
            <LinkedInIcon class="size-6" />
            LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/ejcordoba">
            <GitHubIcon class="size-6" />
            GitHub
          </SocialPill>
          <SocialPill href="mailto:eduardo.cordoba.j@gmail.com">
            <MailIcon class="size-6" />
            eduardo.cordoba.j@gmail.com
          </SocialPill>
        </nav>
      </div>
    </SectionContainer>
    <SectionContainer id="experience">
      <h2
        class="xs:text-4xl text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefCase class="size-7" />
        Experiencia Laboral
      </h2>
      <Experience />
      <div class="flex justify-center xs:my-10">
        <a
          href="/cvs/cv-es-2024.pdf"
          download="CV-Eduardo-Cordoba.pdf"
          class="rounded-full border border-complementary-color/10 flex justify-center items-center gap-x-2 py-2 px-4 bg-complementary-color/50 hover:bg-complementary-color/30 transition"
          ><DownloadIcon class="size-6" />Descargar CV</a
        >
      </div>
    </SectionContainer>
    <SectionContainer id="projects">
      <h2
        class="xs:text-4xl text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeSandbox class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer class="pt-10" id="about">
      <h2
        class="xs:text-4xl text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <Profile class="size-7" />
        Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
