<section
  class="flex xs:flex-col-reverse xs:gap-y-8 gap-x-8 justify-center items-center"
>
  <div
    class="xs:text-lg [&>p]:mb-4 [&>p>strong]:text-complementary-color [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      Me llamo <strong>Eduardo Córdoba</strong>, y además de mi pasión por la
      informática, me encanta el <strong>arte</strong>, la <strong
        >música</strong
      >, el <strong>cine</strong> y la <strong>fotografía</strong>. Desde los 12
      años, cuando recibí un <a
        href="https://es.wikipedia.org/wiki/Amstrad_CPC_6128"
        target="_blank">Amstrad CPC 6128</a
      >, he estado inmerso en el mundo de la programación, comenzando con el
      lenguaje <strong>BASIC</strong>.
    </p>

    <p>
      He vivido y trabajado en varios países, incluyendo cuatro años en <a
        href="https://es.wikipedia.org/wiki/Oslo"
        target="_blank">Oslo, Noruega</a
      >. Estas experiencias internacionales han enriquecido tanto mis <a
        href="https://es.wikipedia.org/wiki/Habilidades_blandas"
        target="_blank">soft skills</a
      > como mis habilidades técnicas, permitiéndome colaborar eficazmente en equipos
      diversos.
    </p>

    <p>
      Además de mi carrera en informática, gestioné un <strong
        >Ciber Café</strong
      > y me formé como <strong>Administrador de Sistemas Informáticos</strong> antes
      de especializarme en <a
        href="https://es.wikipedia.org/wiki/Desarrollador_web"
        target="_blank">Desarrollo Web Fullstack</a
      > en <a href="https://es.wikipedia.org/wiki/Barcelona" target="_blank"
        >Barcelona</a
      >.
    </p>

    <p>
      Actualmente, estoy enfocado en mejorar mis habilidades en <a
        href="https://es.wikipedia.org/wiki/Vue.js"
        target="_blank">frameworks de JavaScript</a
      > como <strong>Vue.js</strong> y <strong>React</strong>, con el objetivo
      de desarrollar aplicaciones nativas y seguir creciendo como desarrollador.
    </p>
  </div>
  <img src="aboutme.webp" class="rounded-full xs:size-40 size-64" />
</section>
