<section
  class="flex xs:flex-col-reverse xs:gap-y-8 gap-x-8 justify-center items-center"
>
  <div
    class="xs:text-lg [&>p]:mb-4 [&>p>strong]:text-complementary-color [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      Me llamo Eduardo Córdoba y nací en Córdoba (España), las casualidades de
      la vida quisieron que mi apellido fuera en consonancia. He tenido la
      fortuna de vivir y trabajar en varios lugares dentro y fuera de España a
      lo largo de mi vida. Actualmente he estado trabajando para <strong
        >consultorías y empresas de marketing digital como desarrollador web</strong
      >.
    </p>
    <p>
      Curioso por naturaleza, apasionado del arte en general, de la música, el
      cine y la fotografía en particular, por supuesto también de la
      informática, con 12 años recibí en herencia de un tío mío su <em
        class="italic"
        ><a
          class="hover:underline"
          href="https://es.wikipedia.org/wiki/Amstrad_CPC_6128"
          target="_blank">Amstrad CPC 6128</a
        ></em
      >, que venía con un manual del lenguaje <em class="italic"
        ><a
          class="hover:underline"
          href="https://en.wikipedia.org/wiki/BASIC"
          target="_blank">BASIC</a
        >
      </em>, y ya por entonces empecé a analizar y crear mis propios programas
      en ese lenguaje.
    </p>
    <p>
      Otra de mis pasiones junto con la informática es la psicología, esto me ha
      permitido desarrollar roles cooperativos en las empresas con mucha
      eficiencia, esto que ahora se viene denominando <em class="italic"
        >soft skills</em
      >
    </p>
    <p>
      Con 22 años regenté un <em class="italic">Ciber café</em> junto con unos amigos,
      aquí fue donde cursé mis primeros estudios como Administrador de Sistemas informáticos,
      fue una experiencia laboral muy enriquecedora, particularmente en la parte
      de gestión de empresa.
    </p>
    <p>
      Tras la crisis española en 2008-2010 emigré fuera de España, viviendo
      cuatro años en Oslo (Noruega), allí pasé durante un tiempo a trabajar en
      el sector de la hostelería, dedicándome a ello varios años.
    </p>
    <p>
      Posteriormente, regresando ya a España, decidí volver al sector de la
      informática a través de un curso de Desarrollador Web Fullstack en
      Barcelona.
    </p>
    <p>
      Son varios años ya trabajando como desarrollador, principalmente en
      Frontend, y mi objetivo es mejorar en mis habilidades de programación,
      deseablemente a través del desarrollo de aplicaciones nativas, para ello
      actualmente me estoy formando en diversos frameworks de Javascript
    </p>
  </div>
  <img src="aboutme.webp" class="rounded-full xs:size-40 size-64" />
</section>
