<section class="flex gap-x-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-complementary-color [&>p>strong]:font-semibold text-pretty"
  >
    <p>
      Me llamo Eduardo Córdoba y nací en Córdoba (España), las casualidades de
      la vida quisieron que mi apellido fuera en consonancia. He tenido la
      fortuna de vivir y trabajar en varios lugares dentro y fuera de España a
      lo largo de mi vida. Actualmente he estado trabajando para <strong
        >consultorías y empresas de marketing digital como desarrollador web</strong
      >.
    </p>
    <p>
      Curioso por naturaleza, apasionado del arte en general, de la música, el
      cine y la fotografía en particular, por supuesto también de la
      informática, con 12 años recibí en herencia de un tío mío su <em
        class="italic">Amstrad CPC 6128</em
      >, que venía con un manual del lenguaje <em class="italic">BASIC </em>, y
      ya por entonces empecé a analizar y crear mis propios programas en ese
      lenguaje.
    </p>
    <p>Psicología/Informática</p>
    <p>Ciber</p>
    <p>Noruega</p>
    <p>Mi objetivo</p>
  </div>
  <img src="aboutme.webp" class="rounded-full size-64" />
</section>
