---
interface Props {
  title: string;
  companyAndDate: string;
  description: string;
}
const { title, companyAndDate, description } = Astro.props;
---

<div
  class="absolute -start-1.5 mt-1.5 h-3 w-3 animate-ping rounded-full border border-white bg-gray-200 delay-1000 dark:border-gray-900 dark:bg-gray-700"
>
</div>
<time
  class="text-md mb-1 font-normal leading-none text-complementary-color/80 dark:text-gray-500"
  >{companyAndDate}</time
>
<h3 class="mt-4 text-xl font-semibold text-complementary-color dark:text-white">
  {title}
</h3>
<p
  class="dark:text-grey-400 mb-4 mt-2 text-pretty text-base font-normal text-white"
>
  {description}
</p>
