---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    title: "Desarrollador Frontend",
    companyAndDate: "ÁreaF5 / 2024 - Actualidad",
    description:
      "Desarrollo y mantenimiento de webs con Wordpress, ACFpro, Custom Post Types, Javascript (JQuery/Ajax)",
  },
  {
    title: "Desarrollador Frontend",
    companyAndDate: "Ebolution / 2022 - 2023",
    description:
      "Desarrollo y mantenimiento de comercio electrónico para BigCommerce, utilizando Stencil junto a handlebars, graphQL y desarrollo de App de gestión con Vue.js, estableciendo comunicación con una API/middleware desarrollada con Laravel.",
  },
  {
    title: "Desarrollador Frontend",
    companyAndDate: "Rashedi Consulting / 2021-2022",
    description:
      "Desarrollo y mantenimiento con Angular, también trabajo backend con Laravel, administración de base de datos con MySQL",
  },
  {
    title: "Desarrollador Junior SAP Business ByDesign",
    companyAndDate: "Loyic / 2021",
    description: "Desarrollo con BODL y ABAP en SAP ByDesign",
  },
  {
    title: "Desarrollador Fullstack",
    companyAndDate: "Casals Online / 2019 - 2020",
    description:
      "Desarrollo y mantenimiento de comercio electrónico, así como gestión de servidores de la empresa, utilizando tecnologías como Wordpress, Prestashop, Laravel, Angular, Git, Jira, también trabajo de Service Desk.",
  },
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3.5">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-6">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
