<footer
  class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto my-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span
      class="text-sm text-complementary-color/90 sm:text-center dark:text-complementary-color/90"
      >© {new Date().getFullYear()}
      <a href="eduardocordoba.dev" class="hover:underline">Eduardo Córdoba</a>.
      Sitio Web desarrollado con <a
        class="underline"
        href="https://astro.build/"
        target="_blank"
        rel="noopener noreferer">Astro</a
      >
      e inspirado en el porfolio de <a
        href="https://github.com/midudev/porfolio.dev"
        class="hover:underline"
        target="_blank">Midu</a
      >
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-white/90 sm:mt-0"
    >
      <li>
        <a href="#" class="hover:underline me-4 md:me-6">Sobre mi</a>
      </li>
      <li>
        <a href="#" class="hover:underline">Contacto</a>
      </li>
    </ul>
  </div>
</footer>
