<header
  class="flex justify-center items-center xs:py-6 py-5 w-full xl:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a class="xs:text-xl" href="/#experience">Experiencia</a>
    <a class="xs:text-xl" href="/#projects">Proyectos</a>
    <a class="xs:text-xl" href="/#about">Sobre mi</a>
    <a class="xs:text-xl" href="/#contact">Contacto</a>
  </nav>
</header>
