<header class="flex justify-between py-3 w-[1120px]">
  <img
    class="rounded-full w-12 h-12 object-cover"
    src="photo.jpeg"
    alt="Eduardo Cordoba photo"
  />
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="/">Home</a>
    <a href="/about">About me</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
