<header class="py-5">
  <nav class="flex flex-row justify-around opacity-80">
    <a class="underline-animation text-xl xs:text-sm" href="/#experience"
      >Experiencia</a
    >
    <a class="underline-animation text-xl xs:text-sm" href="/#projects"
      >Proyectos</a
    >
    <a class="underline-animation text-xl xs:text-sm" href="/#about">Sobre mí</a
    >
    <a
      class="underline-animation text-xl xs:text-sm"
      href="mailto:eduardo.cordoba.j@gmail.com">Contacto</a
    >
  </nav>
</header>
