<header class="hidden md:flex">
  <nav class="flex flex-row justify-center gap-x-1 opacity-80 md:gap-x-28">
    <a class="underline-animation text-sm md:text-xl" href="/#experience"
      >Experiencia</a
    >
    <a class="underline-animation text-sm md:text-xl" href="/#projects"
      >Proyectos</a
    >
    <a class="underline-animation text-sm md:text-xl" href="/#about">Sobre mí</a
    >
    <a
      class="underline-animation text-sm md:text-xl"
      href="mailto:eduardo.cordoba.j@gmail.com">Contacto</a
    >
  </nav>
</header>
