<header
  class="flex justify-center items-center xs:py-6 py-5 w-full xl:w-[1120px] mx-auto">
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a class="text-xl xs:text-sm underline-animation" href="/#experience"
      >Experiencia</a
    >
    <a class="text-xl xs:text-sm underline-animation" href="/#projects"
      >Proyectos</a
    >
    <a class="text-xl xs:text-sm underline-animation" href="/#about">Sobre mí</a
    >
    <a
      class="text-xl xs:text-sm underline-animation"
      href="mailto:eduardo.cordoba.j@gmail.com">Contacto</a
    >
  </nav>
</header>
