<a
  class="flex items-center justify-center gap-x-2 rounded-full border border-complementary-color/10 bg-complementary-color/50 px-4 py-2 text-base transition hover:bg-complementary-color/30"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
