---
import "@fontsource-variable/rubik";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    color-scheme: dark;
  }
  html {
    font-family: "Rubik Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background: #393939;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: min-content;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
  @keyframes underlineAnimation {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .underline-animation::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: theme(colors.complementary-color);
    transition: width 0.3s ease;
  }

  .underline-animation:hover::after {
    width: 100%;
  }
</style>
